---
title: Home page
is_layout: false
allow_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 0
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {{ page.title }} - {{ site.name }} |
      {% if page.seo_title %}
        {{ page.seo_title }}
      {% else %}
        {{ site.seo_title }}
      {% endif %}
    </title>
    <meta name="keywords" value="{{ site.meta_keywords }}" />
    <meta name="description" value="{{ site.meta_description }}" />
    {{ 'jquery-1.11.3.min.js' | javascript_tag }}
    {{ 'script.js' | javascript_tag }}
    {{ 'styles.css' | stylesheet_tag: 'screen, projection' }}
    {% inline_editor %}
  </head>
  <body>
{% block 'body' %}
    <div class="header-container">
    <div class="header">
      <div class="container">
        {% include 'topline' %}
        {% nav 'content', depth: 2, exclude: nil, icon: false %}
        <div class="slider-container">
          <div class="slider">
            <h1>{% editable_short_text "title1", fixed: true %}ОРГАНИЗАЦИЯ ДЕТСКИХ ПРАЗДНИКОВ{% endeditable_short_text %}</h1>
            <h2>{% editable_short_text "title2", fixed: true %}Дети веселятся, родители отдыхают{% endeditable_short_text %}</h2>
            <p>
              {% editable_short_text "title3", fixed: true %}Предлагаем организацию и проведение<br/>детских праздников для детей<br/>с года до 12 лет{% endeditable_short_text %}
            </p>
          </div>
        </div>
      </div>
      <div class="wave-bottom">&nbsp;</div>
    </div>
    </div>
    <div class="offers-container">
      <div class="container">
        <h1>{% editable_short_text "offers_title", fixed: true %}МЫ МОЖЕМ ВАМ ПРЕДЛОЖИТЬ{% endeditable_short_text %}</h1>
        <ul class="offer-items">
          {% for item in contents.offers %}<li>
            <img src="{{ item.photo.url }}"/>
            <p class="color-green">{{ item.name }}</p>
            <a href="{{ item.link }}" class="button-any">Подробнее</a>
          </li>{% endfor %}
        </ul>
      </div>
    </div>
    <div class="order-container">
      <div class="wave-top">&nbsp;</div>
      <div class="container">
        <p class="description">{% editable_short_text "order_description", fixed: true %}При написании сценария мы опираемся на интересы и<br/>желания ребенка, учитываем психологические особенности возраста{% endeditable_short_text %}</p>
        <div class="slider-container">
          <div class="slider">
            <h1>{% editable_short_text "order_title1", fixed: true %}Сделайте заявку на праздник{% endeditable_short_text %}</h1>
            <h2>{% editable_short_text "order_title2", fixed: true %}прямо сейчас{% endeditable_short_text %}</h2>
            <form method="POST" action="{{contents.onlineorders.public_submission_url}}">
              {% csrf_param %}
              <input type="hidden" value="?onlineorder-success" name="success_callback" />
              <input type="hidden" value="?onlineorder-error" name="error_callback" />

              <input id="content-name" type="text" name="content[name]" placeholder="Ваше имя"/>
              <input id="content-phone" type="text" name="content[phone]" placeholder="Ваш телефон"/>
              <button type="submit" class="button-any">ОСТАВИТЬ ЗАЯВКУ</button>
            </form>
          </div>
        </div>
      </div>
      <div class="wave-bottom">&nbsp;</div>
    </div>
    <div class="photogallery-container">
      <div class="container">
        <h1>{% editable_short_text "photogallery_title", fixed: true %}ФОТОГАЛЕРЕЯ{% endeditable_short_text %}</h1>
        <div class="left-slider-button">
          <a href="">
            {{ 'left-slider.png' | theme_image_tag }}
          </a>
        </div><div class="slider-container">
          <ul class="slider">
            <li>
              <a href="/"><img src=""/></a>
            </li><li>
              <a href="/"><img src=""/></a>
            </li><li>
              <a href="/"><img src=""/></a>
            </li><li>
              <a href="/"><img src=""/></a>
            </li><li>
              <a href="/"><img src=""/></a>
            </li>
          </ul>
        </div><div class="right-slider-button">
          <a href="">
            {{ 'right-slider.png' | theme_image_tag }}
          </a>
        </div>
        <div class="see-all">
          <button class="button-any">Смотреть все фотографии</button>
        </div>
      </div>
    </div>
    <div class="testimonials-container">
      <div class="wave-top">&nbsp;</div>
      <div class="container">
        <div class="quotes-left">
          {{ 'quotes-left.png' | theme_image_tag }}
        </div>

        {% for item in contents.testimonials %}{% if forloop.index == 1 %}
          <div class="testimonial-container">
            <div class="photo">
              <img src="{{ ite.photo.url }}"/>
            </div>
            <div class="name">
              {{ item.name }}
            </div>
            <div class="message">
              {{ item.message }}
            </div>
            <button class="button-any">Все отзывы</button>
          </div>
        {% endif %}{% endfor %}

        <div class="quotes-right">
          {{ 'quotes-right.png' | theme_image_tag }}
        </div>
      </div>
      <div class="wave-bottom-red">&nbsp;</div>
    </div>
    {% include 'footer' %}
    {% include 'popups' %}
{% endblock %}
  </body>
</html>