---
title: Home page
published: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="keywords" value="{{ site.meta_keywords }}" />
    <meta name="description" value="{{ site.meta_description }}" />
    {{ 'jquery-1.11.3.min.js' | javascript_tag }}
    {{ 'script.js' | javascript_tag }}
    {{ 'styles.css' | stylesheet_tag: 'screen, projection' }}
  </head>
  <body>
    <div class="header-container">
    <div class="header">
      <div class="container">
        <div class="top-line">
          <a href="/" class="logo">{{ 'logo.png' | theme_image_tag }}</a>
          <div class="right">
            <div class="phone">8-920-472-17-75</div>
            <div class="actions">
              <button class="callback button-any trigger-popup" data-target=".popup-callme">Заказать обратный звонок</button>
            </div>
          </div>
        </div>
        <div class="menu-container">
          <ul class="menu">
            <li class="menu-item">
              <a class="menu-item-link" href="">О нас</a>
            </li>
            <li class="menu-item">
              <a class="menu-item-link" href="">Услуги</a>
              <ul class="submenu">
                <li class="submenu-item">
                  <a href="">Один или несколько аниматоров на праздник</a>
                </li>
                <li class="submenu-item">
                  <a href="">Гелиевые и воздушные шары</a>
                </li>
                <li class="submenu-item">
                  <a href="">Оформление сладкого стола и шоколадного фонтана</a>
                </li>
                <li class="submenu-item">
                  <a href="">Написание индивидуального сценария праздника</a>
                </li>
                <li class="submenu-item">
                  <a href="">Шоу мыльных пузырей</a>
                </li>
                <li class="submenu-item">
                  <a href="">Фото и видеосъемка праздника</a>
                </li>
                <li class="submenu-item">
                  <a href="">Баннер с именем именинника</a>
                </li>
                <li class="submenu-item">
                  <a href="">Аквагрим</a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a class="menu-item-link" href="">Организация праздников</a>
              <ul class="submenu">
                <li class="submenu-item">
                  <a href="">День Рождения</a>
                </li>
                <li class="submenu-item">
                  <a href="">Новый Год</a>
                </li>
                <li class="submenu-item">
                  <a href="">Выпускной в детском саду или школе</a>
                </li>
                <li class="submenu-item">
                  <a href="">1 сентября</a>
                </li>
                <li class="submenu-item">
                  <a href="">Уличные и тематические праздники</a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a class="menu-item-link" href="">Анимационные программы</a>
              <ul class="submenu">
                <li class="submenu-item">
                  <a href="">Фиксики</a>
                </li>
                <li class="submenu-item">
                  <a href="">Барбоскины</a>
                </li>
                <li class="submenu-item">
                  <a href="">Феи WINX</a>
                </li>
                <li class="submenu-item">
                  <a href="">Дед Мороз и Снегурочка</a>
                </li>
                <li class="submenu-item">
                  <a href="">Пираты</a>
                </li>
                <li class="submenu-item">
                  <a href="">Ковбои</a>
                </li>
                <li class="submenu-item">
                  <a href="">Клоуны</a>
                </li>
                <li class="submenu-item">
                  <a href="">Гавайская вечеринка</a>
                </li>
                <li class="submenu-item">
                  <a href="">Шпионская вечеринка</a>
                </li>
                <li class="submenu-item">
                  <a href="">Машенька</a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a class="menu-item-link" href="">Фотогалерея</a>
            </li>
            <li class="menu-item">
              <a class="menu-item-link" href="">Контакты</a>
            </li>
          </ul>
        </div>
        <div class="slider-container">
          <div class="slider">
            <h1>ОРГАНИЗАЦИЯ ДЕТСКИХ ПРАЗДНИКОВ</h1>
            <h2>Дети веселятся, родители отдыхают</h2>
            <p>
              Предлагаем организацию и проведение<br/>детских праздников для детей<br/>с года до 12 лет
            </p>
          </div>
        </div>
      </div>
      <div class="wave-bottom">&nbsp;</div>
    </div>
    </div>
    <div class="offers-container">
      <div class="container">
        <h1>МЫ МОЖЕМ ВАМ ПРЕДЛОЖИТЬ</h1>
        <ul class="offer-items">
          <li>
            {{ 'offer-1.png' | theme_image_tag }}
            <p class="color-green">аниматоры</p>
            <button class="button-any">Подробнее</button>
          </li><li>
            {{ 'offer-2.png' | theme_image_tag }}
            <p class="color-green">шар-сюрприз</p>
            <button class="button-any">Подробнее</button>
          </li><li>
            {{ 'offer-3.png' | theme_image_tag }}
            <p class="color-green">художественный аквагрим</p>
            <button class="button-any">Подробнее</button>
          </li><li>
            {{ 'offer-4.png' | theme_image_tag }}
            <p class="color-green">сладкий стол</p>
            <button class="button-any">Подробнее</button>
          </li><li>
            {{ 'offer-5.png' | theme_image_tag }}
            <p class="color-green">шоу мыльных пузырей</p>
            <button class="button-any">Подробнее</button>
          </li><li>
            {{ 'offer-6.png' | theme_image_tag }}
            <p class="color-green">дискотека</p>
            <button class="button-any">Подробнее</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="order-container">
      <div class="wave-top">&nbsp;</div>
      <div class="container">
        <p class="description">При написании сценария мы опираемся на интересы и<br/>желания ребенка, учитываем психологические особенности возраста</p>
        <div class="slider-container">
          <div class="slider">
            <h1>Сделайте заявку на праздник</h1>
            <h2>прямо сейчас</h2>
            <form action="">
              <input type="text" placeholder="Ваше имя"/>
              <input type="text" placeholder="Ваш телефон"/>
              <button class="button-any">ОСТАВИТЬ ЗАЯВКУ</button>
            </form>
          </div>
        </div>
      </div>
      <div class="wave-bottom">&nbsp;</div>
    </div>
    <div class="photogallery-container">
      <div class="container">
        <h1>ФОТОГАЛЕРЕЯ</h1>
        <div class="left-slider-button">
          <a href="">
            {{ 'left-slider.png' | theme_image_tag }}
          </a>
        </div><div class="slider-container">
          <ul class="slider">
            <li>
              <a href="/"><img src=""/></a>
            </li><li>
              <a href="/"><img src=""/></a>
            </li><li>
              <a href="/"><img src=""/></a>
            </li><li>
              <a href="/"><img src=""/></a>
            </li><li>
              <a href="/"><img src=""/></a>
            </li>
          </ul>
        </div><div class="right-slider-button">
          <a href="">
            {{ 'right-slider.png' | theme_image_tag }}
          </a>
        </div>
        <div class="see-all">
          <button class="button-any">Смотреть все фотографии</button>
        </div>
      </div>
    </div>
    <div class="testimonials-container">
      <div class="wave-top">&nbsp;</div>
      <div class="container">
        <div class="quotes-left">
          {{ 'quotes-left.png' | theme_image_tag }}
        </div>
        <div class="testimonial-container">
          <div class="photo">
            <img src=""/>
          </div>
          <div class="name">
            Анна
          </div>
          <div class="message">
            отзыв, отзыв, отзыв, отзыв, отзыв, отзыв, отзыв
          </div>
          <button class="button-any">Все отзывы</button>
        </div>
        <div class="quotes-right">
          {{ 'quotes-right.png' | theme_image_tag }}
        </div>
      </div>
      <div class="wave-bottom-red">&nbsp;</div>
    </div>
    <div class="footer-container">
      <div class="container">
        <ul class="footer-menu">
          <li>
            <a href="">п.меню</a>
          </li><li>
            <a href="">анимационная программа</a>
          </li><li>
            <a href="">анимационная программа</a>
          </li><li>
            <a href="">анимационная программа</a>
          </li><li>
            <a href="">анимационная программа</a>
          </li>
        </ul>
        <a class="footer-logo" href="/">
          {{ 'footer-logo.png' | theme_image_tag }}
          <span class="phone">8 905 122 22 66</span>
        </a>
      </div>
    </div>
    <div class="popup popup-callme">
      <div class="popup-container">
        <button class="close-action">X</button>
        <div class="slider-container">
          <div class="slider">
            <h1>Сделайте обратный звонок</h1>
            <h2>прямо сейчас</h2>
            <form action="">
              <input type="text" placeholder="Ваш телефон"/>
              <button class="button-any">ОСТАВИТЬ ЗАЯВКУ</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>