---
title: Home page
is_layout: false
allow_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 0
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {{ page.title }} - {{ site.name }} |
      {% if page.seo_title %}
        {{ page.seo_title }}
      {% else %}
        {{ site.seo_title }}
      {% endif %}
    </title>
    <meta name="keywords" value="{{ site.meta_keywords }}" />
    <meta name="description" value="{{ site.meta_description }}" />
    {{ 'jquery-1.11.3.min.js' | javascript_tag }}
    {{ 'script.js' | javascript_tag }}
    {{ 'styles.css' | stylesheet_tag: 'screen, projection' }}
    {% inline_editor %}
  </head>
  <body>
{% block 'body' %}
    <div class="header-container">
    <div class="header">
      <div class="container">
        {% include 'topline' %}
        {% nav 'content', depth: 2, exclude: nil, icon: false %}
        <div class="slider-container">
          <div class="slider">
            <h1>ОРГАНИЗАЦИЯ ДЕТСКИХ ПРАЗДНИКОВ</h1>
            <h2>Дети веселятся, родители отдыхают</h2>
            <p>
              Предлагаем организацию и проведение<br/>детских праздников для детей<br/>с года до 12 лет
            </p>
          </div>
        </div>
      </div>
      <div class="wave-bottom">&nbsp;</div>
    </div>
    </div>
    <div class="offers-container">
      <div class="container">
        <h1>МЫ МОЖЕМ ВАМ ПРЕДЛОЖИТЬ</h1>
        <ul class="offer-items">
          <li>
            {{ 'offer-1.png' | theme_image_tag }}
            <p class="color-green">аниматоры</p>
            <button class="button-any">Подробнее</button>
          </li><li>
            {{ 'offer-2.png' | theme_image_tag }}
            <p class="color-green">шар-сюрприз</p>
            <button class="button-any">Подробнее</button>
          </li><li>
            {{ 'offer-3.png' | theme_image_tag }}
            <p class="color-green">художественный аквагрим</p>
            <button class="button-any">Подробнее</button>
          </li><li>
            {{ 'offer-4.png' | theme_image_tag }}
            <p class="color-green">сладкий стол</p>
            <button class="button-any">Подробнее</button>
          </li><li>
            {{ 'offer-5.png' | theme_image_tag }}
            <p class="color-green">шоу мыльных пузырей</p>
            <button class="button-any">Подробнее</button>
          </li><li>
            {{ 'offer-6.png' | theme_image_tag }}
            <p class="color-green">дискотека</p>
            <button class="button-any">Подробнее</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="order-container">
      <div class="wave-top">&nbsp;</div>
      <div class="container">
        <p class="description">При написании сценария мы опираемся на интересы и<br/>желания ребенка, учитываем психологические особенности возраста</p>
        <div class="slider-container">
          <div class="slider">
            <h1>Сделайте заявку на праздник</h1>
            <h2>прямо сейчас</h2>
            <form method="POST" action="{{contents.onlineorders.public_submission_url}}">
              {% csrf_param %}
              <input type="hidden" value="?onlineorder-success" name="success_callback" />
              <input type="hidden" value="?onlineorder-error" name="error_callback" />

              <input id="content-name" type="text" name="content[name]" placeholder="Ваше имя"/>
              <input id="content-phone" type="text" name="content[phone]" placeholder="Ваш телефон"/>
              <button type="submit" class="button-any">ОСТАВИТЬ ЗАЯВКУ</button>
            </form>
          </div>
        </div>
      </div>
      <div class="wave-bottom">&nbsp;</div>
    </div>
    <div class="photogallery-container">
      <div class="container">
        <h1>ФОТОГАЛЕРЕЯ</h1>
        <div class="left-slider-button">
          <a href="">
            {{ 'left-slider.png' | theme_image_tag }}
          </a>
        </div><div class="slider-container">
          <ul class="slider">
            <li>
              <a href="/"><img src=""/></a>
            </li><li>
              <a href="/"><img src=""/></a>
            </li><li>
              <a href="/"><img src=""/></a>
            </li><li>
              <a href="/"><img src=""/></a>
            </li><li>
              <a href="/"><img src=""/></a>
            </li>
          </ul>
        </div><div class="right-slider-button">
          <a href="">
            {{ 'right-slider.png' | theme_image_tag }}
          </a>
        </div>
        <div class="see-all">
          <button class="button-any">Смотреть все фотографии</button>
        </div>
      </div>
    </div>
    <div class="testimonials-container">
      <div class="wave-top">&nbsp;</div>
      <div class="container">
        <div class="quotes-left">
          {{ 'quotes-left.png' | theme_image_tag }}
        </div>
        <div class="testimonial-container">
          <div class="photo">
            <img src=""/>
          </div>
          <div class="name">
            Анна
          </div>
          <div class="message">
            отзыв, отзыв, отзыв, отзыв, отзыв, отзыв, отзыв
          </div>
          <button class="button-any">Все отзывы</button>
        </div>
        <div class="quotes-right">
          {{ 'quotes-right.png' | theme_image_tag }}
        </div>
      </div>
      <div class="wave-bottom-red">&nbsp;</div>
    </div>
    {% include 'footer' %}
    {% include 'popups' %}
{% endblock %}
  </body>
</html>